@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body,
html {
  height: 100%;
  margin: 0;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, button:hover, img:hover, select:hover, input[type=file]:hover {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

body {
  line-height: normal;
  font-family: "Work Sans", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
}
body h1 {
  color: var(--neutral-800, #292e3d);
  font-family: Work Sans;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
body h2 {
  text-align: center;
  margin: 1.8rem;
  color: var(--neutral-800, #292e3d);
  font-size: 2.25rem;
  font-weight: 700;
}
body h4 {
  color: var(--neutral-700, #3d445c);
  font-size: 1.25rem;
  font-weight: 700;
}
body p {
  color: var(--neutral-400, #858ead);
  font-size: 1rem;
  font-weight: 400;
}

.btn {
  display: flex;
  height: 4rem;
  padding: 0.25rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  color: var(--neutral-white, #fff);
  background: var(--neutral-800, #292e3d);
}
.btn:hover {
  cursor: pointer;
}

header .first-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 5rem;
  margin: 0 auto;
}
header .first-container .logo {
  display: flex;
  gap: 0.88rem;
  align-items: center;
  width: 13rem;
}
header .first-container .logo .our-name {
  color: var(--primary, #2947a9);
  font-family: "Work Sans";
  font-size: 1.875rem;
  font-style: italic;
  font-weight: 700;
}
header .first-container .logo .our-name:hover {
  text-decoration: none;
}
header .first-container .right-side {
  display: flex;
}
header .first-container .right-side nav {
  display: none;
}
header .first-container .right-side nav ul {
  display: flex;
  gap: 3.12rem;
}
header .first-container .right-side nav ul li a {
  text-transform: capitalize;
}
header .first-container .right-side nav ul li a.active {
  color: var(--secondary, #f9995d);
}
header .snd-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 5rem);
}
header .snd-container img {
  width: 100%;
  height: calc(100vh - 5rem);
  -o-object-fit: cover;
     object-fit: cover;
}
header .snd-container .txt {
  position: absolute;
  top: 0;
  width: 80%;
  height: calc(100vh - 5rem);
  left: 10%;
}
header .snd-container .txt .mission {
  position: relative;
  width: 38%;
  height: 10.5rem;
  top: calc(50% - 10.5rem);
}
header .snd-container .txt .future-project {
  display: none;
  position: absolute;
  bottom: 0;
  left: 60%;
  width: 25%;
  height: 11rem;
  text-align: center;
  background: #3559c7;
}
header .snd-container .txt .future-project h6,
header .snd-container .txt .future-project p {
  padding: 1.25rem 0.625rem 0.625rem 0.625rem;
  border-radius: 0.125rem 0.125rem 0rem 0rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--neutral-white, #fff);
}
header .snd-container .txt .future-project h6 {
  font-size: 1.25rem;
  font-weight: 700;
}
header .snd-container .txt .future-project p {
  font-size: 1.5rem;
  font-weight: 400;
}
header .snd-container .txt .future-project .pagination {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
header .snd-container .txt .future-project .pagination .btn {
  width: 40%;
  height: 2.5rem;
}

@media screen and (min-width: 72rem) {
  header .first-container .right-side .burger-menu {
    display: none;
  }
  header .first-container .right-side nav {
    display: block;
  }
  header .snd-container .txt .future-project {
    display: block;
  }
}
main .container .line {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}
main .container .line .mobile-img {
  display: inline;
}
main .container .line .desktop-img {
  display: none;
}
main .container .line img {
  width: 16rem;
  height: 0.375rem;
  -o-object-fit: cover;
     object-fit: cover;
}
main .container .reputation {
  margin: 4rem 4rem 0;
}
main .container .reputation .reasons {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  gap: 2rem;
}
main .container .reputation .reasons .reasons__item {
  display: flex;
  padding: 1.25rem 1.25rem 2.5rem 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.125rem;
  border-radius: 0.25rem;
  border: 1.4px solid var(--neutral-100, #e0e3eb);
  background: #fff;
}
main .container .work .main-content {
  margin: 4rem 4rem 0;
}
main .container .work .main-content .projects-categories {
  display: none;
  padding: 1rem;
}
main .container .work .main-content .projects-categories li {
  margin-top: 1.25rem;
}
main .container .work .main-content .projects-categories li:first-child {
  margin-top: 0;
}
main .container .work .main-content .projects-categories a {
  padding-left: 1rem;
  color: var(--neutral-200, #c2c7d6);
  font-size: 1.5rem;
  font-weight: 500;
}
main .container .work .main-content .projects-categories a.active {
  border-left: 0.25rem solid;
  color: var(--primary, #2947a9);
  font-weight: 700;
}
main .container .work .main-content .projects {
  display: grid;
  justify-content: center;
  gap: 1.88rem;
}
main .container .work .main-content .projects .projects__item {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-self: stretch;
  background: var(--primary, #2947a9);
}
main .container .work .main-content .projects .projects__item .img-container,
main .container .work .main-content .projects .projects__item .info {
  width: 20.75rem;
}
main .container .work .main-content .projects .projects__item .img-container {
  height: 15.4375rem;
  overflow: hidden;
}
main .container .work .main-content .projects .projects__item .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .container .work .main-content .projects .projects__item .img-container img:hover {
  transition: all 0.7s ease-in-out;
  transform: scale(1.1);
}
main .container .work .main-content .projects .projects__item .info {
  padding: 0.75rem 0.75rem 1rem 0.75rem;
}
main .container .work .main-content .projects .projects__item .info .adress {
  font-size: 1.125rem;
}
main .container .work .main-content .projects .projects__item .info h4,
main .container .work .main-content .projects .projects__item .info p {
  color: var(--neutral-white, #fff);
}
main .container .work .main-content .projects .back-btn,
main .container .work .main-content .projects .next-btn {
  width: 18.4375rem;
  display: none;
}
main .container .work .see-more {
  width: 20.875rem;
  margin: 1.88rem auto;
}
main .container .contact-us {
  margin: 4rem;
}
main .container .contact-us .txt {
  width: 20.5rem;
  text-align: center;
  margin: 0 auto;
  color: var(--neutral-800, #292e3d);
  font-size: 1.25rem;
}
main .container .contact-us form {
  display: grid;
  justify-content: center;
  margin: 3.5rem 0;
}
main .container .contact-us form .form__elt {
  width: 20.75rem;
  margin-top: 1.25rem;
  padding: 0.625rem 0.5rem;
  font-size: 1.125rem;
  border-radius: 0.25rem;
  border: 1px solid var(--neutral-100, #e0e3eb);
  color: var(--neutral-300, #a3aac2);
  background: #fff;
}
main .container .contact-us form .input-box {
  position: relative;
  height: 2.5rem;
  margin-top: 1.25rem;
  border-radius: 0.25rem;
}
main .container .contact-us form .input-box input {
  display: flex;
  flex-direction: row;
  margin: 0;
  outline: none;
  font-size: 1.125rem;
  border-radius: 0.25rem;
  border: 1px solid var(--neutral-100, #e0e3eb);
  color: var(--neutral-300, #a3aac2);
  background: #fff;
}
main .container .contact-us form .input-box input:focus {
  outline: 2px solid #000;
}
main .container .contact-us form .input-box .required-sign {
  position: absolute;
  top: 0.7rem;
  left: 6.3rem;
}
main .container .contact-us form .select-box {
  position: relative;
}
main .container .contact-us form .select-box .required-sign {
  position: absolute;
  top: 2rem;
  left: 12rem;
}
main .container .contact-us form .select-box select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../../imgs/arrow-drop-down.svg) no-repeat 60px;
  background-position: right;
  color: var(--neutral-300, #a3aac2);
}
main .container .contact-us form .input-file-box {
  position: relative;
  width: 20.75rem;
  height: 3rem;
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  border-radius: 0.25rem;
  border: 1px solid var(--neutral-100, #e0e3eb);
  color: var(--neutral-300, #a3aac2);
  background: #fff;
}
main .container .contact-us form .input-file-box:hover {
  cursor: pointer;
}
main .container .contact-us form .input-file-box .icon-box {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem 0rem 0rem 0.25rem;
  background: #2947a9;
}
main .container .contact-us form .input-file-box label {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 1rem;
  font-size: 1.125rem;
  cursor: pointer;
}
main .container .contact-us form input[type=submit] {
  color: var(--neutral-white, #fff);
  background: var(--primary, #2947a9);
  font-size: 1.125rem;
  font-weight: 600;
}
main .container .contact-us form textarea {
  width: 20.75rem;
  height: 8.4375rem;
  padding: 0.625rem 0.5rem;
  resize: none;
}
main .container .contact-us form textarea:focus {
  outline: 2px solid #000;
}
main .container .contact-us form .info-about-form {
  margin: 0.5rem 0;
  color: var(--neutral-500, #667299);
}
main .container .contact-us form .required-sign {
  color: #c40303;
}

@media screen and (min-width: 72rem) {
  main .container .line .mobile-img {
    display: none;
  }
  main .container .line .desktop-img {
    display: inline;
  }
  main .container .line img {
    width: 70rem;
  }
  main .container .reputation .reasons {
    grid-template-columns: auto auto auto;
    width: 65rem;
    margin: 0 auto;
  }
  main .container .work h2 {
    width: 65rem;
    margin: 0 auto;
    text-align: left;
    padding: 1rem 1rem 0;
  }
  main .container .work .main-content {
    width: 65rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  main .container .work .main-content .projects-categories {
    display: block;
  }
  main .container .work .main-content .projects {
    grid-template-columns: auto auto;
  }
  main .container .work .main-content .projects .back-btn,
  main .container .work .main-content .projects .next-btn {
    display: flex;
    margin: 1.88rem 0;
  }
  main .container .work .main-content .projects .next-btn {
    justify-self: end;
  }
  main .container .work .see-more {
    display: none;
  }
  main .container .contact-us {
    margin: 4rem;
  }
  main .container .contact-us .txt {
    padding: 0 1rem;
  }
}/*# sourceMappingURL=main.css.map */