@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400&display=swap");

body {
    line-height: normal;

    font-family: "Work Sans", sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;

    h1 {
        color: var(--neutral-800, #292e3d);

        font-family: Work Sans;
        font-size: 4.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    h2 {
        text-align: center;
        margin: 1.8rem;

        color: var(--neutral-800, #292e3d);

        font-size: 2.25rem;
        font-weight: 700;
    }

    h4 {
        color: var(--neutral-700, #3d445c);

        font-size: 1.25rem;
        font-weight: 700;
    }

    p {
        color: var(--neutral-400, #858ead);

        font-size: 1rem;
        font-weight: 400;
    }
}
