header {
    .first-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        height: $header-fst-sct-height;
        margin: 0 auto;

        .logo {
            display: flex;
            gap: 0.88rem;
            align-items: center;
            width: 13rem;

            .our-name {
                color: var(--primary, #2947a9);
                font-family: "Work Sans";
                font-size: 1.875rem;
                font-style: italic;
                font-weight: 700;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .right-side {
            display: flex;

            nav {
                display: none;

                ul {
                    display: flex;
                    gap: 3.12rem;

                    li {
                        a {
                            text-transform: capitalize;

                            &.active {
                                color: var(--secondary, #f9995d);
                            }
                        }
                    }
                }
            }
        }
    }

    .snd-container {
        position: relative;

        width: 100%;
        height: calc(100vh - $header-fst-sct-height);

        img {
            width: 100%;
            height: calc(100vh - $header-fst-sct-height);
            object-fit: cover;
        }

        .txt {
            position: absolute;
            top: 0;

            width: 80%;
            height: calc(100vh - $header-fst-sct-height);
            left: 10%;

            .mission {
                $eltHeight: 10.5rem;

                position: relative;

                width: 38%;
                height: $eltHeight;
                top: calc(50% - $eltHeight);
            }

            .future-project {
                display: none;
                position: absolute;
                bottom: 0;
                left: 60%;
                width: 25%;
                height: 11rem;
                text-align: center;
                
                background: #3559c7;

                h6,
                p {
                    padding: 1.25rem 0.625rem 0.625rem 0.625rem;

                    border-radius: 0.125rem 0.125rem 0rem 0rem;

                    font-size: 1.25rem;
                    font-weight: 700;

                    color: var(--neutral-white, #fff);
                }

                h6 {
                    font-size: 1.25rem;
                    font-weight: 700;
                }

                p {
                    font-size: 1.5rem;
                    font-weight: 400;
                }

                .pagination {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    gap: 1rem;

                    .btn {
                        width: 40%;
                        height: 2.5rem;
                    }
                }
            }
        }
    }
}

// on larger screen
@media screen and (min-width: 72rem) {
    header {
        .first-container {
            .right-side {
                .burger-menu {
                    display: none;
                }

                nav {
                    display: block;
                }
            }
        }

        .snd-container {
            .txt {
                .future-project {
                    display: block;
                }
            }
        }
    }
}
