.btn {
    display: flex;
    height: 4rem;
    padding: 0.25rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    color: var(--neutral-white, #fff);
    background: var(--neutral-800, #292e3d);

    &:hover {
        cursor: pointer;
    }
}
